.login-form {
    margin-top: 10%;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;


}
.inputDiv {
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
}
.register {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 42%;
    padding-top: 100px;
}
.top-bar {
    margin-bottom: 100px;
}
.toolbar {
justify-content: space-around;
    background-color: white;
    color: white;
}
.error-m {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    color: white;
    font-size: 20px;
    font-family: cursive;
    border: 2px solid azure;
    border-radius: 30px;
    background-color: crimson;
    margin-top: 2%;
}
#hospitalDiv{
    display: flex;
        flex-direction: row;
        align-items: center;
        
       
}
.avatarDiv {
    margin-right: 10px;
    /* Avatar ile diğer içerikler arasına boşluk eklemek için */
}

.cardDiv {
    flex-grow: 1; 
}
.cardDiv-r{
    flex-grow: 1;
    margin-right: 100px;
}
#buttonDiv{
    margin-right:10px ;
}